<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JSFW.VS.Extensibility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="JSFW.VS.AddIns2017.FindMethodList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <JSFW.VS.Extensibility.Properties.Settings>
            <setting name="Keywords" serializeAs="String">
                <value />
            </setting>
            <setting name="Hints" serializeAs="String">
                <value />
            </setting>
        </JSFW.VS.Extensibility.Properties.Settings>
        <JSFW.VS.AddIns2017.FindMethodList.Properties.Settings>
            <setting name="Keywords" serializeAs="String">
                <value/>
            </setting>
        </JSFW.VS.AddIns2017.FindMethodList.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
